.HomePage {
  .header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;


    &.dark-mode {
      background: #111;
    }

    // Remove this line, as we've already set the background image
    // background: #3498db; // A shade of blue (you can change this to any color you prefer)

    .dark-mode-button {
      background: transparent;
      border: none;
      font-size: 2.5rem;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .app-name {
      font-size: 3rem !important;
      margin: 0;
      font-weight: 700;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    .app-description {
      font-size: 1.8rem;
      font-weight: 500;
      margin-top: 10px;
    }
  }

  // The rest of the styles remain the same
  .team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
  }

  .search-bar {
    padding: 10px 20px;
    font-size: 1.5rem;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #f5f5f5;
    color: #333;
    transition: border-color 0.2s;

    &:focus {
      border-color: #007bff;
      outline: none;
    }

    &::placeholder {
      color: #999;
    }
  }
}
